.c-label {
  position: fixed;
  top: 10px;
  font-family: monospace;
  font-size: 1.25em;
  color: white;
  z-index: 999999;
  left: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.is-centered {
  justify-content: center;
  position: fixed;
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0px auto;
  left: 0;
  right: 0;
}

.c-controls {
  position: fixed;
  bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  right: 0;
}

button {
  border: 2px solid white;
  background-color: transparent;
  width: 2em;
  height: 2em;
  border-radius: 100%;
  font-size: 2em;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  outline: none;
}

.c-loader {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .c-loader div {
  text-align: center;
  font-size: 1.25em;
  color: white;
} */

svg {
  transform-origin: 50% 65%;
}

svg polygon {
  stroke-dasharray: 17;
  animation: dash 2.5s cubic-bezier(0.35, 0.04, 0.63, 0.95) infinite;
}

@keyframes dash {
  to {
    stroke-dashoffset: 136;
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
