.is-centered {
  justify-content: center;
  position: fixed;
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0px auto;
  left: 0;
  right: 0;
}

.c-controls {
  position: fixed;
  bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  right: 0;
}

.c-button {
  border: 2px solid white;
  background-color: transparent;
  width: 2em;
  height: 2em;
  border-radius: 100%;
  font-size: 2em;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  outline: none;
  opacity: 0;
  transition: opacity .3s;
}

.c-button .is-visible {
  opacity: 1;
  transition: opacity .3s;
}


.c-loader {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity .3s;
}

.c-loader .is-visible {
  opacity: 1;
  transition: opacity .3s;
}

  .c-loader__svg {
    width: 60px;
  }

    .c-loader__path {
      stroke-dasharray: 176;
      stroke-dashoffset: 176;
      animation: dash 1.8s ease-in infinite;
    }

    @keyframes dash {
      0% {
        stroke-dashoffset: 0;
      }
      50% {
        stroke-dashoffset: 176;
      }
      100% {
        stroke-dashoffset: 355;
      }
    }

  .c-loader__instructions {
    font-family: 'Alata', sans-serif;
    font-size: .875rem;
    text-align: center;
    color: rgba(255, 255, 255, .7);
    display: block;
    width: 80%;
    margin: 0 auto;
    position: absolute;
    bottom: 20px;
    left: 10%;
  }

.c-label {
  position: fixed;
  bottom: 20px;
  left: 10%;
  font-family: 'Alata', sans-serif;
  font-size: .875em;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  width: 80%;
  z-index: 999999;
  text-align: center;
  padding: 10px;
  opacity: 0;
  transition: opacity .3s;
}

.c-label .is-visible {
  opacity: 1;
  transition: opacity .3s;
}





